

#paper{   
    margin: auto;
    margin-top: 3%;
    width: 70%;
}

.weekDay{
    padding: 1%;
    margin: auto;
    margin-top: 5%;
    margin-top: 3%;
    width: 70%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.weekDay>div{
    width: 13%;
    border-radius: 4%;
    background-color: rgb(236, 240, 241);
}

.weatherToday{
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    width: 70%;
}

.weatherToday>div{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;  
    margin-top: -5%;
    
}

.rightData{
    width: 40%;
    margin-top: 4%; 
}

#imgBox{
    width: 70%;
    height: 230px;
    border-radius: 4%;
    background-color: rgb(160, 196, 214);
}

.leftData{
    width: 60%;
}

.leftData>div{
    display: flex;
    justify-content: space-evenly;
}

.leftData>div>p{
    width: 40%;
    padding: 2%;
    border-radius: 6%;
    background-color: rgb(235, 233, 178);
}

