

#paper{   
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

.weekDay{
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
    border: 1px solid black;
}

.weatherToday{
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
    border: 1px solid rgb(3, 3, 3);
}

.weatherToday>div{
    display: flex;
    justify-content: space-between
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;  
    margin-top: -5%;
    
}

.rightData{
    width: 40%;
    margin-top: 4%; 
}

#imgBox{
    width: 80%;
    height: 230px;
    border-radius: 4%;
    background-color: rgb(160, 196, 214);
}

.leftData{
    width: 60%;
}

.leftData>div{
    display: flex;
    justify-content: space-evenly;
}

.leftData>div>p{
    width: 40%;
    padding: 2%;
    border-radius: 4%;
    background-color: rgb(238, 237, 203);
}

